
#blockpicker {
    border: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 50px;
}


#blockpicker ul.tabs-horiz {
    margin: 0;
}

#blockpicker li.ui-state-active a {
    background-color: white;
    border-bottom: 1px solid white;
}

#blockpicker .block-blueprint {
    margin: 10px;
    float: left;
}

#blockpicker .block-blueprint .icon img {
    width: 80px;
    height: 80px;
}

#blockpicker .block-blueprint .label {
    font-size: smaller;
}


.item .children,
.item .child {
    border: 1px solid #d6d6d6;
    padding: 15px;
    padding-bottom: 0;
    margin-bottom: 15px;
    background-color: white;
    min-height: 30px;
}

.item .children.ui-state-highlight,
.item .child.ui-state-highlight {
    background-color: red;
}

h3 {
    margin: 0;
}

.actions {
    position: absolute;
    top: 0;
    right: 0;
}
.actions ul {
    margin: 0;
    padding: 0;
}
.actions ul li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}