

.block .children {
    border: 1px solid #d6d6d6;
    padding: 15px;
    padding-bottom: 0;
    background-color: white;
    min-height: 30px;
}

.block .children.ui-state-highlight {
    background-color: red;
}

h3 {
    margin: 0;
}

.actions {
    position: absolute;
    top: 0;
    right: 0;
}
.actions ul {
    margin: 0;
    padding: 0;
}
.actions ul li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}