
#blockpicker {
    border: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 50px;
}


#blockpicker ul.tabs-horiz {
    margin: 0;
}

#blockpicker li.ui-state-active a {
    background-color: white;
    border-bottom: 1px solid white;
}

#blockpicker .block-blueprint {
    margin: 10px;
    float: left;
}

#blockpicker .block-blueprint .icon img {
    width: 80px;
    height: 80px;
}

#blockpicker .block-blueprint .label {
    font-size: smaller;
}


.item {
    position: relative;
}

.item .fieldset {
    border: none !important;
    padding: 15px 15px 0 15px !important;
}
.children-container {
    overflow: hidden;
}

.item .children,
.item .child {
    /* border: 1px solid #d6d6d6; */
    padding: 15px;
    padding-bottom: 0;
    margin-bottom: 15px;
    background-color: white;
    min-height: 30px;
}

.item .children.ui-state-highlight,
.item .child.ui-state-highlight {
    background-color: red;
}

h3 {
    margin: 0;
}

.actions {
    position: absolute;
    top: 0;
    right: 0;
}
.actions ul {
    margin: 0;
    padding: 0;
}
.actions ul li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

#block_form_dialog h3 {
    margin-top: 30px;
}

/* Some custom colors for blocks */
.aoe-layouteditor-basic-text .fieldset { background-color: #F4D4B8 !important; }
.core-text-list .fieldset { background-color: #DAE2C0 !important; }
.aoe-layouteditor-element-container-two5050 .fieldset { background-color: #C6D7F1 !important; }